<%- include('../partials/header') %>
<%- include('../partials/indexpartial') %>

<style>
    body{
        background: #000000;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
</style>

<div class="container display-page">
<div class="row text-center" style="display:flex; flex-wrap: wrap;margin-top: 20px;">


<% moviesInfo.forEach(function(movie){ %>
    <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="thumbnail">
    <% var URL = "http://image.tmdb.org/t/p/w500/" + movie.poster_path %>
    <% var movieTitle = movie.original_title %>
    
    <div class="index-image-thumbnail">
        <a href="/movie/<%= movie.id %>">
        <img src = <%= URL %> class="img-rounded">
        </a>
        <p><a href=/movie/<%= movie.id %>" class="inactiveLink"></a><%= movieTitle %></p>
        <button type="button" data-toggle="modal" data-target="#bd-modal-list" data-whatever="<%= movie.id %>" class="add"><i class="fa fa-plus-square icon-large" aria-hidden="true"></i><p id="movieID" class="movieID"><%= movie.id %></p>
        </button>
        <button type="button" data-toggle="modal" data-target="#bd-modal-share" data-whatever="<%= movie.id %>" class="share"><i class="fa fa-share-square icon-large" aria-hidden="true" id="fa-share"></i><p id="movieID"><%= movie.id %></p>
        </button>
        
    </div>
    </div>
    </div>
<% }) %>
</div>
</div>


<div class="modal bs-example-modal-sm" id="bd-modal-list" tabindex="-1" role="dialog" aria-labelledby="listModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
              <ul class="list-group" id="movieListUL">
                <button type="button" data-toggle="modal" data-target="#bd-modal-new" class="new-list"> New List </button>
                <% movieLists.forEach(function(movieList) { %>
                           <a href="/home/list/<%= movieList.name %>/" class="movieLink">
                               <li class="list-group-item li-list-item"><%= movieList.name %></li>
                           </a>
                  <% }) %>
              </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal bs-example-modal-sm" id="bd-modal-new" tabindex="-1" role="dialog" aria-labelledby="newModal">
    <div class="modal-dialog document">
        <div class="modal-content">
            <div class="modal-body new-list-modal" style="height:100px">
                  <div>
                      <label for="ListName" class="control-label">New List:</label>
                      <input type="text" id="ListName" value="">
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                <a href="/list/listname/99999" id="movieLinkButton" class="btn btn-primary">Submit</a>
            </div>
        </div>
    </div>
</div>

<div class="modal bs-example-modal-sm" id="bd-modal-share"  role="dialog" aria-labelledby="shareModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
              <ul class="list-group">
                   <li class="list-group-item">Cras justo odio</li>
                   <li class="list-group-item">Dapibus ac facilisis in</li>
                   <li class="list-group-item">Morbi leo risus</li>
                   <li class="list-group-item">Porta ac consectetur ac</li>
                   <li class="list-group-item">Vestibulum at eros</li>
              </ul>
            </div>
        </div>
    </div>
</div>




<div class="container" style="display: inline;">
    <div class="row text-center">
        
        <ul class="pagination">
        <li>
        <% if(typeof page !== 'undefined') { %>
                <% if((Number(page) > 1)) { %>
                
                <% if(typeof genre === 'undefined') {%>
                     <a href="/home/1 %>" class="btn btn-info page-button first-page" role="button"> First </a>
                     <a href="/home/<%= Number(page) - 1 %>" class="btn btn-info page-button" role="button"> Previous </a>
                <% } else { %>
                     <a href="/home/1/<%= genre %>" class="btn btn-info page-button first-page" role="button"> First </a>
                     <a href="/home/<%= Number(page) - 1 %>/<%= genre %>" class="btn btn-info page-button" role="button"> Previous </a>
                <% } %>
        <% } %>
        </li>   

            
        <% for(var i = Number(page); i <= Number(page) + 10; i++) {%>
                <% if(i == Number(page)) { %>
                    <% if(typeof genre === 'undefined') {%>
                        <li class="active"><a href="/home/<%= i %>"> <%= i %> </a></li>
                        
                    <% } else { %>
                        <li class="active"><a href="/home/<%= i %>/<%= genre %>"> <%= i %> </a></li>
                    <% } %>
                <% } else { %>
                    <% if(typeof genre === 'undefined') { %>
                        <li><a href="/home/<%= i %>"> <%= i %> </a></li>
                        
                    <% } else { %>
                        <li><a href="/home/<%= i %>/<%= genre %>"> <%= i %> </a></li>
                    <% } %>
                <% } %>    
        <% } %>  
        <li>
        <% if(typeof genre === 'undefined') { %>
            <a href="/home/<%= Number(page) + 1 %>" class="btn btn-info page-button" role="button"> Next </a>
        <% } else { %>
            <a href="/home/<%= Number(page) + 1 %>/<%= genre %>" class="btn btn-info page-button" role="button"> Next </a>
        <% } %> 
        </li>
        </ul>
        
    </div>
</div>
<% } %>




<script type='text/javascript'>

var nameCheck = "^(?![0-9]*$)[a-zA-Z0-9]+$";

 $('.add').click(function(){
    var modifiedAttr = String( $(".movieLink").attr("href") );
    var pos = modifiedAttr.lastIndexOf('/');
    modifiedAttr = modifiedAttr.substring(0,pos+1);
    modifiedAttr = modifiedAttr +$(this).text();
    $(".movieLink").attr("href",modifiedAttr);
    
    var newListMovieID = String($('#movieLinkButton').attr("href"));
    pos = newListMovieID.lastIndexOf('/');
    newListMovieID = newListMovieID.substring(0,pos+1);
    newListMovieID = newListMovieID +$(this).text();
    $("#movieLinkButton").attr("href",newListMovieID);
 });
 
 
 $('#movieListUL').on("click", function(event){
    var count = $(this)[0].children.length;
    var modifiedURL = "";
    for(var i = 1; i < count; i++){
       modifiedURL = String($(this)[0].children[i].href);
       var modifiedUrlArr = new Array();
       modifiedUrlArr  = modifiedURL.split("/");
       modifiedUrlArr[5] = $(this)[0].children[i].innerText;
       modifiedURL = modifiedUrlArr[0] + "//" + modifiedUrlArr[2] + "/" + modifiedUrlArr[3] + "/" + modifiedUrlArr[4]+"/" +  modifiedUrlArr[5] + "/" + modifiedUrlArr[6];
       $(this)[0].children[i].href = modifiedURL;
    }
 });
 
 
 $('#ListName').on("input", function() {
  var dInput = this.value;
  $('#ListName').attr("value", dInput);
 });
 
 $('#movieLinkButton').on("click", function(event){
    if(String($('#ListName').attr("value")).trim() == ""){
        event.preventDefault();
        swal(
                      'Empty name',
                      'Enter a valid name',
                      'error'
        )
        
        event.preventDefault();
        
    }
    else if(!(String($('#ListName').attr("value")).match(nameCheck))){
        event.preventDefault();
        swal(         
                      'Not a valid name',
                      'Movie name must be alphanumeric - Example: "Action-2017"',
                      'error'
            )
          
    }
    else{
            var modifiedAttr = String( $("#movieLinkButton").attr("href"));
            var URL_partone = modifiedAttr.split('/');
            var combinedURL =  URL_partone[1] + "/" + $('#ListName').attr("value") + "/" + URL_partone[3];
            $("#movieLinkButton").attr("href",combinedURL);
    }
 });
 
 
</script>


<%- include("../partials/footer"); %>